apiVersion: apps/v1
kind: Deployment
metadata:
  name: py-app
  labels:
    app: py-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: py-app
  template:
    metadata:
      labels:
        app: py-app
    spec:
      containers:
      - name: py-app
        image: 962906402563.dkr.ecr.us-west-2.amazonaws.com/number5:"latest.$(CIRCLE_BUILD_NUM)"
        resources:
          limits:
            memory: 512Mi
            cpu: "1"
          requests:
            memory: 256Mi
            cpu: "0.2"

























# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: flask
#   spec:
#   replicas: 1
#   template:
#     metadata:
#       labels:
#         app: flask
#     spec:
#       containers:
#       - name: flask
#         image: 962906402563.dkr.ecr.us-west-2.amazonaws.com/number5:latest
#         ports:
#         - containerPort: 80
